* {
  font-family: 'Montserrat', sans-serif;
  color: black;
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #314560;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #30679f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5f8fb;
}
